<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h3>Identity Card Details</h3>
    <form action="/submit" method="post" enctype="multipart/form-data">
        <div>Full Name : &nbsp&nbsp&nbsp&nbsp&nbsp <input type="text" placeholder="Full Name" name="fullname"></div>
        <br><br>
        <div>Roll No. : &nbsp&nbsp&nbsp&nbsp&nbsp <input type="text" placeholder="Roll No." name="rollno"></div>
        <br><br>
        <div>Departemnt :&nbsp&nbsp&nbsp&nbsp <input type="text" name="dept" placeholder="Department"></div>
        <br><br>
        <div>DOB(Date of Birth) : &nbsp&nbsp&nbsp&nbsp&nbsp <input type="date" placeholder="DOB" name="dob"></div>
        <br><br>
        <div>Valid Upto : &nbsp&nbsp&nbsp&nbsp&nbsp <input type="date" placeholder="Valid Upto" name="validity"></div>
        <br><br>
        <div>Blood Group : &nbsp&nbsp&nbsp&nbsp&nbsp <input type="text" placeholder="Blood Group" name="bldgrp"></div>
        <br><br>
        <div>Issue Date : &nbsp&nbsp&nbsp&nbsp&nbsp <input type="date" placeholder="Issue Date" name="issdate"></div>
        <br><br>
        <div>Address : &nbsp&nbsp&nbsp&nbsp&nbsp <textarea name="address" placeholder="Address"></textarea></div>
        <br><br>
        <div>Photo :&nbsp&nbsp&nbsp&nbsp <input type="file" name="photo"></div>
        <br><br>
        <div><button type="submit">Submit</button></div>
    </form>
</body>

</html>